<main>

  <article class="aboutme" id="aboutme">
      <div class="card-panel hoverable" style="padding-bottom: 70px;">
          <h2>About me</h2>
    <p class="about-me-text">Hello everybody!
      My name is Klimenko Stanislava.<br> I am an ordinary schoolgirl, who dreams of becoming a programmer, so I hope
      you appreciate my efforts :)</p>
      </div>
  </article>
  <article class="experience" id="experience">
      <div class="card-panel hoverable">
      <h2>Professional Experience</h2>
      </div>
    <p>My experience is not great yet, but I'm learning by studying html, C ++, shell and more.</p>
  </article>

  <span></span>

  <article class="skills" id="skills">
    <h2>Professional Skills</h2>
    <ul>
      <li>Office applications MS Office: Word ‚Excel‚ Power Point ‚Access;</li>
      <li>OS: Windows 2000 / XP / Vista / 7, Ubuntu</li>
      <li>Programming languages: HTML, C++.</li>
    </ul>
  </article>
  <span></span>
</main>
