<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{{ page_title }}}</title>
        <link rel="stylesheet" href="styles/index.css"/>
    </head>
    <body>
        {{{ body }}}
        <script src="js/index.js"></script>
    </body>
</html>